<div id="buttonBar">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 center">
            <div class="footer-button-group">
                <button id="homeViewButton"class="btn footerButton" value="mainContent"><span class="oi oi-home"></span><hr class="selectedFooterButton" style="display: none"></button>
                <button id="managersViewButton"class="btn footerButton" value="managersContent"><span class="oi oi-person"></span><hr class="selectedFooterButton" style="display: none"></button>
                <button id="upgradesViewButton"class="btn footerButton" value="upgradeContent"><span class="oi oi-arrow-thick-top"></span><hr class="selectedFooterButton" style="display: none"></button>
                <button id="debugViewButton"class="btn footerButton" value="debugContent"><span class="oi oi-info"></span><hr class="selectedFooterButton" style="display: none"></button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>
    <!--$(document).ready(function(){-->
       <!--console.warn('ready2');-->
       <!--$('#homeViewButton').click();-->
    <!--});-->
</script>