<div id="debugContent" class="row fullWidth" style="display:none">
    <div class="col-md-4"></div>
    <div class="col-md-4 center">
        <!--<button id="toggleDebug" class="btn btn-med btn-info">Toggle Debug</button><br>-->
        <div id="debug">
            <table class="table debugTable">
                <br >
                <tbody>
                    <tr>
                        <td class="">Current Level</td>
                        <td class="debugCurrentLevel"></td>
                    </tr>
                    <tr>
                        <td>Cars needed to for level</td>
                        <td class="debugUnlockNextLevelCost"></td>
                    </tr>
                    <tr>
                        <td class="">Worker Upgrade Price</td>
                        <td class="debugWorkerUpgradePrice"></td>
                    </tr>
                    <tr>
                        <td>Worker Cars Completed/Second</td>
                        <td class="debugWorkerSpeed"></td>
                    </tr>
                    <tr>
                        <td>Lot upgrade cost</td>
                        <td class="debugLotUpgradePrice"></td>
                    </tr>
                    <tr>
                        <td>Car Spawn Time</td>
                        <td class="debugCarSpawnTime"></td>
                    </tr>
                    <tr>
                        <td>Lot capacity threshold</td>
                        <td class="debugLotCapacityThreshold"></td>
                    </tr>
                    <tr><td><td></td></td></tr>
                </tbody>
            </table>
            <button class="btn btn-success addCash">Add Cash</button>
            <button class="btn btn-info increaseLevel">Add Levels</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>