<div id="mainContent" class="fullWidth" style="display:none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 workerAndLotDiv basicSupplySection">
                <span id="basicSupplies" class="headerFont">
                    <label>Basic Supplies</label>
                    <div class="progress">
                        <div id="basicSuppliesProgressBar" class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                </span>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 noleftpadding">
                            <button id="detailBtn" class="btn btn-sm btn-primary btn-block">Detail Car</button>
                            <button id="buyBasicSupplies" type="button" class="btn btn-sm btn-block" style="margin-top: 5px;" disabled>Fill - $0</button>
                        </div>
                        <div class="col-md-1 verticalLine"></div>
                        <div class="col-md-3">
                            <span class="leftSpan center">
                                <span id="carsOnLot" class="detailValue"></span><br />
                                <label>Cars on Lot</label>
                            </span>
                            <span class="rightSpan">
                                <div class="btn-group-vertical">
                                    <button id="increaseLotCapacityBtn" class="btn btn-sm" disabled><span class="oi oi-caret-top headerIcon"></span></button>
                                </div>
                            </span>
                        </div>
                        <div class="col-md-1 verticalLine"></div>
                        <div class="col-md-3 norightpadding">
                            <span class="leftSpan center">
                                <span id="workers" class="detailValue"></span><br />
                                <label>Workers</label><br />
                            </span>
                            <span class="rightSpan">
                                <div class="btn-group-vertical">
                                    <button id="hireWorkerBtn" class="btn btn-sm" disabled><span class="oi oi-caret-top headerIcon"></span></button>
                                    <button id="fireWorkerBtn" class="btn btn-sm" style="margin-top: 5px;" disabled><span class="oi oi-caret-bottom headerIcon"></span></button>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row cutAndBuffLocked">
            <div class="col-md-3"></div>
            <div class="col-md-6 workerAndLotDiv cutAndBuffSection">
            <span id="cutAndBuffSupplies" class="headerFont">
                <label>Cut & Buff Supplies</label>
                <div class="progress">
                    <div id="cutAndBuffSuppliesProgressBar" class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                </div>
            </span>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 noleftpadding">
                            <button id="detailCutAndBuffBtn" class="btn btn-sm btn-primary btn-block">Detail Car</button>
                            <button id="buyCutAndBuffSupplies" type="button" class="btn btn-sm btn-block" style="margin-top: 5px;" disabled>Fill - $0</button>
                        </div>
                        <div class="col-md-1 verticalLine"></div>
                        <div class="col-md-3">
                        <span class="leftSpan center">
                            <span id="carsOnLotCutAndBuff" class="detailValue"></span><br />
                            <label>Cars on Lot</label>
                        </span>
                            <span class="rightSpan">
                            <div class="btn-group-vertical">
                                <button id="increaseLotCapacityCutAndBuffBtn" class="btn btn-sm" disabled><span class="oi oi-caret-top headerIcon"></span></button>
                            </div>
                        </span>
                        </div>
                        <div class="col-md-1 verticalLine"></div>
                        <div class="col-md-3 norightpadding">
                        <span class="leftSpan center">
                            <span id="workersCutAndBuff" class="detailValue"></span><br />
                            <label>Workers</label><br />
                        </span>
                            <span class="rightSpan">
                            <div class="btn-group-vertical">
                                <button id="hireWorkerCutAndBuffBtn" class="btn btn-sm" disabled><span class="oi oi-caret-top headerIcon"></span></button>
                                <button id="fireWorkerCutAndBuffBtn" class="btn btn-sm" style="margin-top: 5px;" disabled><span class="oi oi-caret-bottom headerIcon"></span></button>
                            </div>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<script>
//todo why doesnt this get loaded anywhere except here
    $('#buyBasicSupplies').click(function(){
        var costToRefill = (BASIC_SUPPLIES_CAPACITY - CURRENT_BASIC_SUPPLIES) * BASIC_SUPPLIES_COST_PER_UNIT;
        fillSupplies(costToRefill, $('#basicSuppliesProgressBar'), $('#buyBasicSupplies'));
        CURRENT_BASIC_SUPPLIES = BASIC_SUPPLIES_CAPACITY;
    });

    $('#buyCutAndBuffSupplies').click(function(){
        var costToRefill = (SUPPLIES_CAPACITY_CAB - CURRENT_SUPPLIES_CAB) * SUPPLIES_COST_PER_UNIT_CAB;
        fillSupplies(costToRefill, $('#cutAndBuffSuppliesProgressBar'), $('#buyCutAndBuffSupplies'));
        CURRENT_SUPPLIES_CAB = SUPPLIES_CAPACITY_CAB;
    });
</script>