<head>
    <link rel="stylesheet" type="text/css" href="css/upgradeDetails.css"/>
</head>
<div id="managerUpgrades" class="fullWidth" style="display:none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="managerUpgradeCards" class="list-group" role="tablist">
                    <a class="upgrade-group-item upgrade-group-item-action generalManagerLockedListItem active" id="list-basic-supply" data-toggle="list" role="tab" href="#basic-supply" aria-controls="basic-supply">Basic Supply Automation
                        <span class="oi oi-lock-locked lockIcon"></span>
                        <button id="buyBasicSupplyAutomation" class="btn btn-success buyBtn upgradeBuyBtn" value="800" disabled>
                            <span>$800</span>
                        </button>
                    </a>
                    <a class="upgrade-group-item upgrade-group-item-action accountantLockedListItem" id="list-cook-books" href="#cook-books" data-toggle="list" role="tab" aria-controls="cook-books">Cook the Books
                        <span class="oi oi-lock-locked lockIcon"></span>
                        <button id="buyCookTheBooks" class="btn btn-success buyBtn upgradeBuyBtn" value="3500" disabled>
                            <span>$3500</span>
                        </button>
                    </a>
                    <a class="upgrade-group-item upgrade-group-item-action cutAndBuffLockedListItem" id="list-cut-and-buff-supply" href="#cut-and-buff-supply" data-toggle="list" role="tab" aria-controls="cut-and-buff-supply">Cut & Buff Supply Automation
                        <span class="oi oi-lock-locked lockIcon"></span>
                        <button id="buyCutAndBuffSupplyAutomation" class="btn btn-success buyBtn upgradeBuyBtn" value="4800" disabled>
                            <span>$4800</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-5 upgradeDetailDiv upgradeManagerDetailDiv center">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active generalManagerLockedCard" id="basic-supply" role="tabpanel" aria-labelledby="basic-supply">
                        <div class="unlockedCard">
                            <p class="card-title">Basic Supply Automation</p>
                            <i class="fas fa-cart-plus upgradeIcon"></i>
                            <p class="card-text">Basic supplies automatically refill when stock is low</p>
                            <p class="card-price">$800</p>
                        </div>
                        <div class="lockedCard">
                            <p class="card-title">Basic Supply Automation</p>
                            <span class="oi oi-lock-locked lockIcon"></span><br >
                            <p class="card-text">General Manager Required</p>
                            <br >
                        </div>
                    </div>
                    <div class="tab-pane fade show accountantLockedCard" id="cook-books" role="tabpanel" aria-labelledby="cook-books">
                        <div class="unlockedCard">
                            <p class="card-title">Cook the Books</p>
                            <i class="fas fa-book-dead upgradeIcon"></i>
                            <p class="card-text">Completed cars "generate" more revenue (+$100/each)</p>
                            <p class="card-price">$3500</p>
                        </div>
                        <div class="lockedCard">
                            <p class="card-title">Cook the Books</p>
                            <span class="oi oi-lock-locked lockIcon"></span><br >
                            <p class="card-text">Accountant Required</p>
                            <br >
                        </div>
                    </div>
                    <div class="tab-pane fade show cutAndBuffLocked" id="cut-and-buff-supply" role="tabpanel" aria-labelledby="cut-and-buff-supply">
                        <div class="unlockedCard">
                            <p class="card-title">Cut & Buff Supply Automation</p>
                            <i class="fas fa-cart-plus upgradeIcon"></i>
                            <p class="card-text">Cut & Buff supplies automatically refill when stock is low</p>
                            <p class="card-price">$4800</p>
                        </div>
                        <div class="lockedCard">
                            <p class="card-title">Cut & Buff Supply Automation</p>
                            <span class="oi oi-lock-locked lockIcon"></span><br >
                            <p class="card-text">Cut & Buff Speciality Upgrade Required</p>
                            <br >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>