<head>
    <link rel="stylesheet" type="text/css" href="css/upgrades.css"/>
</head>
<div id="managersContent" class="fullWidth" style="display:none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center">
                <div class="card-deck">
                    <div class="card upgradeCard managerBorder">
                        <div class="card-body">
                            <h5 class="card-title managerUpgradeText">General Manager</h5>
                            <div class="center">
                                <span class="oi oi-person upgradeCategoryIcon managerUpgradeIcon"></span>
                            </div>
                            <p class="card-text">Unlocks ability to hire workers</p>
                        </div>
                        <div class="card-footer center">
                            <button id="buyGeneralManager" class="btn btn-success manager buyBtn" value="1000" disabled>$1000</button>
                        </div>
                    </div>
                    <div class="card upgradeCard managerBorder">
                        <div class="card-body">
                            <h5 class="card-title managerUpgradeText">Accountant</h5>
                            <div class="center">
                                <span class="oi oi-person upgradeCategoryIcon managerUpgradeIcon"></span>
                            </div>
                            <p class="card-text">Automatically handles worker payroll</p>
                        </div>
                        <div class="card-footer center">
                            <button id="buyAccountant" class="btn btn-success manager buyBtn" value="5000" disabled>$5000</button>
                        </div>
                    </div>
                    <div class="card upgradeCard managerBorder">
                        <div class="card-body">
                            <h5 class="card-title managerUpgradeText">Operations Manager</h5>
                            <div class="center">
                                <span class="oi oi-person upgradeCategoryIcon managerUpgradeIcon"></span>
                            </div>
                            <p class="card-text">New services and upgrades unlocked</p>
                        </div>
                        <div class="card-footer center">
                            <button id="buyOperationsManager" class="btn btn-success manager buyBtn" value="7500" disabled>$7500</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>