<head>
    <link rel="stylesheet" type="text/css" href="css/upgradeDetails.css"/>
</head>
<div id="productionUpgrades" class="fullWidth" style="display:none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="productionUpgradeCards" class="list-group" role="tablist">
                    <a class="upgrade-group-item upgrade-group-item-action active" id="list-newspaper-ad" data-toggle="list" href="#newspaper-ad" role="tab" aria-controls="newspaper-ad">Newspaper Advertising<button id="buyLevel1Advertising" class="btn btn-success buyBtn upgradeBuyBtn" value="350" disabled><span>$350</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-cargo-van" data-toggle="list" href="#cargo-van" role="tab" aria-controls="cargo-van">Cargo Van<button id="buySupplyCapacity" class="btn btn-success buyBtn upgradeBuyBtn" value="650" disabled><span>$650</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-inflation" data-toggle="list" href="#inflation" role="tab" aria-controls="inflation">Inflation<button id="buyInflation" class="btn btn-success buyBtn upgradeBuyBtn" value="900" disabled><span>$900</span></button></a>
                    <!--<a class="upgrade-group-item upgrade-group-item-action" id="list-increase-lot" data-toggle="list" href="#increase-lot-capacity" role="tab" aria-controls="increase-lot-capacity">Increase Lot Capacity<button id="buyLevel1LotCapacity" class="btn btn-success buyBtn upgradeBuyBtn" value="700" disabled><span>$700</span></button></a>-->
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-storage-unit" data-toggle="list" href="#storage-unit" role="tab" aria-controls="storage-unit">Storage Unit<button id="buySupplyCapacity2" class="btn btn-success buyBtn upgradeBuyBtn" value="1200" disabled><span>$1200</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-increase-prices" data-toggle="list" href="#increase-prices" role="tab" aria-controls="increase-prices">Increase Prices<button id="buyCompletedCarBonus" class="btn btn-success buyBtn upgradeBuyBtn" value="2500" disabled><span>$2500</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-radio-ad" data-toggle="list" href="#radio-ad" role="tab" aria-controls="radio-ad">Radio Advertising<button id="buyLevel2Advertising" class="btn btn-success buyBtn upgradeBuyBtn" value="3000" disabled><span>$3000</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-tv-ad" data-toggle="list" href="#tv-ad" role="tab" aria-controls="tv-ad">TV Advertising<button id="buyLevel3Advertising" class="btn btn-success buyBtn upgradeBuyBtn" value="5500" disabled><span>$5500</span></button></a>
                </div>
            </div>
            <div class="col-md-5 upgradeDetailDiv upgradeProductionDetailDiv center">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="newspaper-ad" role="tabpanel" aria-labelledby="newspaper-ad">
                        <p class="card-title">Newspaper Advertising</p>
                        <i class="fas fa-newspaper upgradeIcon"></i>
                        <p class="card-text">Cars visit twice as often</p>
                        <p class="card-price">$350</p>
                    </div>
                    <div class="tab-pane fade show" id="cargo-van" role="tabpanel" aria-labelledby="cargo-van">
                        <p class="card-title">Cargo Van</p>
                        <i class="fas fa-shuttle-van upgradeIcon"></i>
                        <p class="card-text">Basic wash supplies capacity increased (+10)</p>
                        <p class="card-price">$650</p>
                    </div>
                    <div class="tab-pane fade show" id="inflation" role="tabpanel" aria-labelledby="inflation">
                        <p class="card-title">Inflation</p>
                        <i class="fas fa-money-bill-wave upgradeIcon"></i>
                        <p class="card-text">Completed cars generate more revenue (+$15/each)</p>
                        <p class="card-price">$900</p>
                    </div>
                    <!--<div class="tab-pane fade show" id="increase-lot-capacity" role="tabpanel" aria-labelledby="increase-lot-capacity">-->
                        <!--<p class="card-title">Increase Lot Capacity</p>-->
                        <!--<i class="fas fa-expand-arrows-alt upgradeIcon"></i>-->
                        <!--<p class="card-text">Increase total available lot capacity (+2)</p>-->
                        <!--<p class="card-price">$700</p>-->
                    <!--</div>-->
                    <div class="tab-pane fade show" id="storage-unit" role="tabpanel" aria-labelledby="storage-unit">
                        <p class="card-title">Storage Unit</p>
                        <i class="fas fa-warehouse upgradeIcon"></i>
                        <p class="card-text">Basic wash supplies capacity increased (+50)</p>
                        <p class="card-price">$1200</p>
                    </div>
                    <div class="tab-pane fade show" id="increase-prices" role="tabpanel" aria-labelledby="increase-prices">
                        <p class="card-title">Increase Prices</p>
                        <i class="fas fa-file-invoice-dollar upgradeIcon"></i>
                        <p class="card-text">Completed cars generate more revenue (+$50/each)</p>
                        <p class="card-price">$2500</p>
                    </div>
                    <div class="tab-pane fade show" id="radio-ad" role="tabpanel" aria-labelledby="radio-ad">
                        <p class="card-title">Radio Advertising</p>
                        <i class="fas fa-broadcast-tower upgradeIcon"></i>
                        <p class="card-text">Cars visit twice as often</p>
                        <p class="card-price">$3000</p>
                    </div>
                    <div class="tab-pane fade show" id="tv-ad" role="tabpanel" aria-labelledby="tv-ad">
                        <p class="card-title">TV Advertising</p>
                        <i class="fas fa-tv upgradeIcon"></i>
                        <p class="card-text">Cars visit twice as often</p>
                        <p class="card-price">$5500</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br >
        <br >
        <div id="productionUpgradeStats" class="row upgradeFooterStats">
            <div class="col-md-2"></div>
            <div class="col-md-2 center">
                <label>Car Frequency</label>
                <br >
                <p class="carFrequencyLbl">x0</p>
            </div>
            <div class="col-md-2 center">
                <label>Basic Supply Capacity</label>
                <br >
                <p class="basicSupplyCapacityLbl">+0</p>
            </div>
            <div class="col-md-2 center">
                <label>Total Lot Capacity</label>
                <br >
                <p class="lotCapacityLbl">+0</p>
            </div>
            <div class="col-md-2 center">
                <label>Completed Car Bonus</label>
                <br >
                <p class="carBonusLbl">+$0</p>
            </div>
        </div>
    </div>
</div>


<!--</div>-->
<!--</div>-->
<!--<p>product upgrades test</p>-->
<!--<div id="upgradeLevel2Div" class="card-tier" style="display:none">-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-md-3"></div>-->
<!--<div class="col-md-6 center">-->
<!--<div class="card-header-custom"></div>-->
<!--<div class="card-group">-->
<!--<div class="card" style="width: 200px;">-->
<!--<div class="card-block">-->
<!--<p class="card-title">T.V. Advertising</p>-->
<!--<span class="oi oi-wifi upgradeIcon"></span>-->
<!--<p class="card-text">Cars visit twice as often</p>-->
<!--<p class="card-price">$350</p>-->
<!--<button id="buyLevel2Advertising" class="btn btn-success buyBtn" value="350" disabled><span class="oi oi-dollar"></span></button>-->
<!--<br >-->
<!--</div>-->



<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-md-3"></div>-->
<!--<div class="col-md-6 center">-->
<!--<button id="unlockNextLevelUpgradesBtn" class="btn btn-med center btn-success" disabled>Unlock Upgrades</button>-->
<!--</div>-->
<!--<div class="col-md-3"></div>-->
<!--</div>-->
<!--</div>-->
<!--<br >-->
<!--<div id="upgradeLevel1Div" class="card-tier">-->