<head>
    <link rel="stylesheet" type="text/css" href="css/upgradeDetails.css"/>
</head>
<div id="specialityUpgrades" class="fullWidth" style="display:none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="specialityUpgradeCards" class="list-group" role="tablist">
                    <a class="upgrade-group-item upgrade-group-item-action active" id="list-cut-and-buff" data-toggle="list" href="#cut-and-buff" role="tab" aria-controls="cut-and-buff">Cut & Buff
                        <button id="buyCutandBuffWorkerUnlock" class="btn btn-success buyBtn upgradeBuyBtn" value="12000" disabled>
                            <span>$12000</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-5 upgradeDetailDiv upgradeSpecialityDetailDiv center">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="cut-and-buff" role="tabpanel" aria-labelledby="cut-and-buff">
                        <p class="card-title">Cut & Buff</p>
                        <i class="fas fa-paint-brush upgradeIcon"></i>
                        <p class="card-text">Unlocks exterior paint polishing speciality workers</p>
                        <p class="card-price">$12000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>