<head>
    <link rel="stylesheet" type="text/css" href="css/upgrades.css"/>
</head>
<div id="upgradeContent" class="fullWidth" style="display:none">
    <div id="upgradeCategories" class="card-tier">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card-deck">
                        <div id="productionCategoryCard" class="card upgradeCard productionBorder locked" value="productionUpgrades">
                            <div class="card-body">
                                <h5 class="card-title productionUpgradeText">Production Upgrades</h5>
                                <div class="center">
                                    <span class="oi oi-graph upgradeCategoryIcon productionUpgradeIcon"></span>
                                    <span class="oi oi-lock-locked lockIcon" style="display:none"></span>
                                </div>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer center">
                                <small class="text-muted">Unlocked after reaching level 3</small>
                            </div>
                        </div>
                        <div class="card upgradeCard workerBorder workerCategoryCard locked">
                            <div class="card-body">
                                <h5 class="card-title workerUpgradeText">Worker Upgrades</h5>
                                <div class="center">
                                    <span class="oi oi-dial upgradeCategoryIcon workerUpgradeIcon"></span>
                                    <span class="oi oi-lock-locked lockIcon" style="display:none"></span>
                                </div>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer center">
                                <small class="text-muted">Unlocked after reaching level 5</small>
                            </div>
                        </div>
                        <div class="card upgradeCard managerBorder managerCategoryCard locked">
                            <div class="card-body">
                                <h5 class="card-title managerUpgradeText">Manager Upgrades</h5>
                                <div class="center">
                                    <span class="oi oi-person upgradeCategoryIcon managerUpgradeIcon"></span>
                                    <span class="oi oi-lock-locked lockIcon" style="display:none"></span>
                                </div>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer center">
                                <small class="text-muted">Unlocked after hiring at least one manager</small>
                            </div>
                        </div>
                        <div class="card upgradeCard specialityBorder specialityCategoryCard locked">
                            <div class="card-body">
                                <h5 class="card-title specialityUpgradeText">Speciality Upgrades</h5>
                                <div class="center">
                                    <span class="oi oi-wrench upgradeCategoryIcon specialityUpgradeIcon"></span>
                                    <span class="oi oi-lock-locked lockIcon" style="display:none"></span>
                                </div>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer center">
                                <small class="text-muted">Unlocked after hiring Operations Manager</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <br >
</div>
<br >