<head>
    <link rel="stylesheet" type="text/css" href="css/upgradeDetails.css"/>
</head>
<div id="workerUpgrades" class="fullWidth" style="display:none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="workerUpgradeCards" class="list-group" role="tablist"> <!--id="list-tab" -->
                    <a class="upgrade-group-item upgrade-group-item-action active" id="list-worker-productivity" data-toggle="list" href="#worker-productivity" role="tab" aria-controls="worker-productivity">Detailing 101<button id="buyLevel1WorkerProductivity" class="btn btn-success buyBtn upgradeBuyBtn" value="600" disabled><span>$600</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-more-efficient" data-toggle="list" href="#more-efficient" role="tab" aria-controls="more-efficient">Waste Not<button id="buyWorkersMoreEfficient" class="btn btn-success buyBtn upgradeBuyBtn" value="1000" disabled><span>$1000</span></button></a>
                    <a class="upgrade-group-item upgrade-group-item-action" id="list-worker-productivity2" data-toggle="list" href="#worker-productivity2" role="tab" aria-controls="worker-productivity2">Experienced Workers<button id="buyLevel2WorkerProductivity" class="btn btn-success buyBtn upgradeBuyBtn" value="2000" disabled><span>$2000</span></button></a>
                </div>
            </div>
            <div class="col-md-5 upgradeDetailDiv upgradeWorkerDetailDiv center">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="worker-productivity" role="tabpanel" aria-labelledby="worker-productivity">
                        <p class="card-title">Detailing 101</p>
                        <span class="oi oi-media-skip-forward upgradeIcon"></span>
                        <p class="card-text">Workers complete cars 20% faster</p>
                        <p class="card-price">$600</p>
                    </div>
                    <div class="tab-pane fade show" id="more-efficient" role="tabpanel" aria-labelledby="more-efficient">
                        <p class="card-title">Waste Not</p>
                        <i class="fas fa-recycle upgradeIcon"></i>
                        <p class="card-text">Workers use less basic supplies per car</p>
                        <p class="card-price">$1000</p>
                    </div>
                    <div class="tab-pane fade show" id="worker-productivity2" role="tabpanel" aria-labelledby="worker-productivity2">
                        <p class="card-title">Experienced Workers</p>
                        <span class="oi oi-media-skip-forward upgradeIcon"></span>
                        <p class="card-text">Workers complete cars 20% faster</p>
                        <p class="card-price">$2000</p>
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br >
        <br >
        <div id="workerUpgradeStats" class="row upgradeFooterStats">
            <div class="col-md-2"></div>
            <div class="col-md-4 center">
                <label>Worker Speed</label>
                <br >
                <p class="workerSpeedLbl">+0%</p>
            </div>
            <div class="col-md-4 center">
                <label>Worker Efficiency</label>
                <br >
                <p class="workerEfficiencyLbl">+0%</p>
            </div>
        </div>
    </div><!--buy in bulk for supplies-->
</div>