button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.notificationsDiv{
    color: gray;
    /*margin-top: 25px;*/
    margin-bottom: 25px;
}

.headerIcon{
    font-size: 12px;
    /*padding-left: 10px;*/
}

.managerIcon{
    font-size: 50px;
    padding-bottom: 15px;
    color: #4d544e;
}

p {
    font-size: 40px;
}

body {
    /*background-color: #c9c9c9;*/
    background-image: linear-gradient(-90deg, #171923, #455156);
}

.center{
    text-align: center;
}

#cash{
    color: #5dca8b;
}

.metrics{
    font-style: italic;
    color: darkgreen;
    font-size: 13px;
}

.summaryContainer{
    margin: auto;
    width: 100%;
    align-items: center;
}

.summaryHeader {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 22px;
    align-items: center;
    text-align: center;
}

.summaryContainer span.headerFont{
    font-size: 40px;
    color: white;
}

.summaryContainer label{
    color: whitesmoke;
}

.summaryContainer p{
    color: #939393;
}

.summaryRow .row{
    margin-right: 0px;
    margin-left: 0px;
}

.nopadding{
    padding: 0px;
}

.noleftpadding{
    padding-left: 0px;
}

.norightpadding{
    padding-right: 0px;
}

.verticalLine {
  border-left: 1px solid #bdbbbb;
}

.fullWidth{
    width: 100%;
}

#payrollLbl{
    color: #dc3545;
}

#accountantPayrollLbl{
    color: #28a745;
}

.buyBtn{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.debugTable tr td:first-child{
    text-align: left;
    font-weight: 400;
    color: #848484;
}

.debugTable tr td:nth-child(2){
    text-align: right;
    font-weight: 400;
    color: white;
    font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  margin: auto;
  align-items: center;
  z-index: 999 !important;
  width: 100%;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 1%;
  background-color: rgba(0, 0, 0, .95);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sticky + .summaryContainer {
  padding-top: 200px;
}

.summaryContainerPlaceholder {
    height:171px;
    width:100%;
    display:none;
}

#mainContent label{
    color: white;
}

#mainContent p{
    color: gray;
}

.footer-button-group{
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.45);
}

#buttonBar{
   position: fixed;
   left: 0;
   bottom: 7%;
   width: 100%;
   text-align: center;
}

.footerButton{
    width: 80px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #0a0a0a00;
}

.footerButton:hover {
    color: #3fa4cc;
}

.selectedFooterButton{
    color: #3fa4cc;
}

#buttonBar hr{
    display: block;
    height: 1px;
    width: 40%;
    border: 0;
    border-top: 1px solid #3fa4cc;
    margin: 0 auto;
    padding: 0;
}

.progress-bar-blue {
    background-color: #5d83ab !important;
}

.progress-bar-red{
    background-color: #8c3f3f !important;
}

/*.progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    margin-right: 20px;
    margin: auto;
  *//*  display: -webkit-box;  *//**//* OLD - iOS 6-, Safari 3.1-6, BB7 *//**//*
    display: -ms-flexbox;  *//**//* TWEENER - IE 10 *//**//*
    display: -webkit-flex; *//**//* NEW - Safari 6.1+. iOS 7.1+, BB10 *//**//*
    display: flex;          NEW, Spec - Firefox, Chrome, Opera *//*
    *//*align-items: flex-end;*//*
    *//*-webkit-align-items: flex-end;  Safari 7.0+ *//*
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    tr ansition: height 0.6s ease;
}*/

.cutAndBuffLocked{
    display: none;
}

.basicSupplySection{
    border: solid 1px #6caddc;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.cutAndBuffSection{
    border: solid 1px #ea5647;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.workerAndLotDiv label{
    font-size: 14px;
}

.workerAndLotDiv .detailValue{
    font-size: 24px;
    color: #939393;
}

.workerAndLotDiv .leftSpan{
    float: left;
}

.workerAndLotDiv .rightSpan{
    float: right;
}
