.upgradeBuyBtn, .upgrade-group-item .oi-check{
    float: right;
    margin-bottom: 0px !important; /*the buy button and checkmark are used elsewhere and in this scenario we dont want to make the rows taller*/
}

.upgrade-group-item{
    color: #6f6f6f;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.upgrade-group-item-action:focus, .upgrade-group-item-action:hover {
    color: #495057;
    text-decoration: none;
    /*background-color: #f8f9fa;*/
    color: white;
    border-color: white;
}

#productionUpgrades .upgrade-group-item.active {
    z-index: 2;
    color: #fff;
    border-color: #64bd7c;
}

#workerUpgrades .upgrade-group-item.active {
    z-index: 2;
    color: #fff;
    border-color: #9d7fd6;
}

#managerUpgrades .upgrade-group-item.active {
    z-index: 2;
    color: #fff;
    border-color: #6caddc;
}

#specialityUpgrades .upgrade-group-item.active {
    z-index: 2;
    color: #fff;
    border-color: #ea5647;
}

.upgradeDetailDiv{
    color: white;
    border-style: solid;
    border-width: 1px;
}

.upgradeProductionDetailDiv{
    border-color: #64bd7c;
    background-color: #64bd7c;
}

.upgradeWorkerDetailDiv{
    border-color: #9d7fd6;
    background-color: #9d7fd6;
}

.upgradeManagerDetailDiv{
    border-color: #6caddc;
    background-color: #6caddc;
}

.upgradeSpecialityDetailDiv{
    border-color: #ea5647;
    background-color: #ea5647;
}

.upgradesFooter{
    padding-top: 5%;
}

.upgradeIcon{
    font-size: 50px;
    padding-bottom: 15px;
    color: black;
}

.tab-content{
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-group{
    max-height: 200px;
    /*margin-bottom: 10px;*/
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1px; /*allows bottom border to show on last element in list*/
    overflow-y: auto;
    overflow-x: hidden;
}

/*todo for each different upgrade section*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  /*background: #888;*/
  background: #64bd7c;
}

::-webkit-scrollbar-thumb:hover {
  background: #448254;
}

/***************************
    STATS SECTION
****************************/

#productionUpgradeStats label{
    color: #64bd7c;
    font-weight: 100;
}

#workerUpgradeStats label{
    color: #9d7fd6;
    font-weight: 100;
}

.upgradeFooterStats p{
    color: gray;
}

/***************************
    LOCKED UPGRADE SECTION
****************************/

.upgradeManagerDetailDiv .lockIcon{
    display: inline-block !important;
    color: black;
    font-size: 50px;
    padding-bottom: 15px;
}

#managerUpgradeCards .lockIcon{
    float: right;
}

#managerUpgradeCards [class*="LockedListItem"] .buyBtn{
    display: none;
}

.upgradeDetailDiv .unlockedCard{
    display: none;
}