.upgradeCard{
    background-color: rgba(0, 0, 0, 0);
}

.upgradeCategoryIcon{
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-title{
    font-weight: lighter;
    font-size: 24px;
    padding-top: 10px;
    color: #eaeaea;
    text-align: center;
}

.card-text{
    font-size: 13px;
    /*font-style: italic;*/
    /*color: #cc9980;*/
    color: white;
    text-align: center;
    padding-top: 10px;
}

.card-price{
    font-size: 18px;
    font-weight: bold;
}

.productionUpgradeText{
    color: #a9f3bd;
}

.productionUpgradeIcon{
    color: #64bd7c;
}

.productionBorder{
    border-color: #64bd7c;
}

#productionCategoryCard:hover{
    cursor: pointer;
    /*background-image: linear-gradient(rgba(55,0,0,0), rgb(33, 64, 42))*/
    background-color: #64bd7c;
}

#productionCategoryCard:hover .productionBorder{
     border-color: white;
}

#productionCategoryCard:hover .productionUpgradeText{
    color: white;
}

#productionCategoryCard:hover .productionUpgradeIcon{
     color: white;
}

#productionCategoryCard:hover .text-muted{
    color: white !important;
}

.workerUpgradeText{
    color: #dfcfff;
}

.workerUpgradeIcon{
    color: #9d7fd6;
}

.workerBorder{
    border-color:#9d7fd6;
}

.workerCategoryCard:hover{
    cursor: pointer;
    background-color: #9d7fd6;
}

.workerCategoryCard:hover .workerBorder{
     border-color: white;
}

.workerCategoryCard:hover .workerUpgradeText{
    color: white;
}

.workerCategoryCard:hover .workerUpgradeIcon{
     color: white;
}

.workerCategoryCard:hover .text-muted{
    color: white !important;
}

.managerUpgradeText{
    color: #cae9ff;
}

.managerUpgradeIcon{
    color: #6caddc;
}

.managerBorder{
    border-color:#6caddc;
}

.managerCategoryCard:hover{
    cursor: pointer;
    background-color: #6caddc;
}

.managerCategoryCard:hover .managerBorder{
     border-color: white;
}

.managerCategoryCard:hover .managerUpgradeText{
    color: white;
}

.managerCategoryCard:hover .managerUpgradeIcon{
     color: white;
}

.managerCategoryCard:hover .text-muted{
    color: white !important;
}

.specialityUpgradeText{
    color: #ff9f96;
}

.specialityUpgradeIcon{
    color: #ea5647;
}

.specialityBorder{
    border-color:#ea5647;
}

.specialityCategoryCard:hover{
    cursor: pointer;
    background-color: #ea5647;
}

.specialityCategoryCard:hover .specialityBorder{
     border-color: white;
}

.specialityCategoryCard:hover .specialityUpgradeText{
    color: white;
}

.specialityCategoryCard:hover .specialityUpgradeIcon{
     color: white;
}

.specialityCategoryCard:hover .text-muted{
    color: white !important;
}

.locked:hover{
    cursor: not-allowed !important;
    pointer-events: all !important;
    border-color: #6f6f6f;
    background-color: #6f6f6f !important;
}

.locked:hover .oi{
    color: black;
}

.locked:hover .card-title{
    color: black !important;
}

/*.locked:hover .text-muted{
    color: black !important;
}*/

.locked:hover .upgradeCategoryIcon{
    display: none;
}

.locked:hover .lockIcon{
    display: inline-block !important;
    color: black;
    font-size: 50px;
}